UnityProject/PoC/Library/metadata
UnityProject/PoC/Library/ScriptAssemblies
UnityProject/PoC/Library/ShaderCache
*.log
UnityProject/PoC/Library/assetDatabase3
UnityProject/PoC/Library/CurrentLayout.dwlt
UnityProject/PoC/Library/expandedItems
AssetVersioning.db
UnityProject/PoC/Temp
CrashedAssetImports.txt
Assembly-CSharp.csproj
UnityProject/PoC/PoC.sln
UnityProject/PoC/PoC.userprefs
